<div class="container-fluid-lg">
    <div class="main-footer section-b-space">
        <div class="row g-md-4 g-3">




            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="footer-logo">
                    <!-- <app-footer-logo [data]="data" [footer]="footer"></app-footer-logo> -->
                   <h1 class="desk-h">Your go-to for<br> timeless style</h1>
                   <h2 class="footer-address">Address</h2>
                   <h3 class="footer-address">
Office No 253 PLOT NO 11, 2ND FLOOR, VARDHAMAN MARKET PLAZA PITAMPURA, Rani Bagh, Delhi, 110034
</h3>
                </div>
            </div>


            <div class="col-xl-2 col-lg-2 col-sm-3"
            (click)="toggle('useful_link')">
            <div class="footer-title" [class.show]="active['useful_link']">
                <h4>{{ 'Useful Links' | translate }}</h4>
            </div>
            <div class="footer-contain">
                <!-- <app-footer-links [links]="data?.footer?.useful_link || []"></app-footer-links> -->
                 <ul>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/Contact-Us">Contact Us</a></li>
                    <li><a href="/shipping-delivery">Shipping + delivery</a></li>
                    <li><a href="/return-exchange">Return + Exchange</a></li>
                    <li><a href="/Refund-and-Cancellation-Policy">Refund and Cancellation Policy</a></li>
                 </ul>
                <!-- No Data -->
                <app-no-data [class]="'no-data-footer'" [text]="'no_link_found'" *ngIf="!data?.footer?.useful_link?.length"></app-no-data>
            </div>
        </div>
        <div class="col-xl-2 col-sm-3"
            (click)="toggle('help_center')">
            <div class="footer-title" [class.show]="active['help_center']">
                <h4>{{ 'Help Center' | translate }}</h4>
            </div>
            <div class="footer-contain">
                <app-footer-links [links]="data?.footer?.help_center || []"></app-footer-links>
                <!-- No Data -->
                <app-no-data [class]="'no-data-footer'" [text]="'no_link_found'" *ngIf="!data?.footer?.help_center?.length"></app-no-data>
            </div>
        </div>
       
        
        
        <div class="col-xl-5 col-lg-3 col-sm-3">
           <app-footer-about [data]="data" class="mt-3"></app-footer-about>
                    <div class="col-xl-12 col-lg-4 col-sm-6"
                    *ngIf="data?.footer?.support_email ||
                        data?.footer?.support_number ||
                        data?.footer?.play_store_url ||
                        data?.footer?.app_store_url">
                    <app-footer-contact [data]="data"></app-footer-contact>
                </div>
        </div>
            
            
          
          
        </div>
    </div>
    <div class="sub-footer section-small-space">
        <div class="reserve" *ngIf="data?.footer?.footer_copyright">
            <app-footer-copyright [data]="data"></app-footer-copyright>
        </div>
        <div class="footer-links">
            <ul class="d-flex text-white footer-links-main">
                <li>
                    <a href="/privacy-policy">Privacy Policy</a>
                </li>
                <li>
                    <a href="/term-condition">Terms & Conditions</a>
                </li>
            </ul>
        </div>
    </div>
</div>