<div class="contain">

  <div class="wrapper">

    <div class="form">
      <h4>GET IN TOUCH</h4>
      <h2 class="form-headline">Send us a message</h2>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <p>
          <input id="name" class="form-input" type="text" formControlName="name" placeholder="Your Name*">
          <small class="error-message" *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
            Please enter a valid name (letters only)
          </small>
        </p>
        <p>
          <input id="email" class="form-input" type="email" formControlName="email" placeholder="Your Email*">
          <small class="error-message" *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
            Please enter a valid email address
          </small>
        </p>
        <p class="full-width">
          <input id="subject" class="form-input" type="text" formControlName="subject" placeholder="Subject *">
          <small class="error-message" *ngIf="contactForm.get('subject')?.invalid && contactForm.get('subject')?.touched">
            Subject is required
          </small>
        </p>
        <p class="full-width">
          <textarea formControlName="message" minlength="20" id="message" cols="30" rows="7" placeholder="Your Message*"></textarea>
          <small class="error-message" *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
            Message is required and must be at least 20 characters
          </small>
        </p>
        <p class="full-width">
          <input type="checkbox" formControlName="consent" id="checkbox" name="checkbox"> Yes, I would like to receive communications by call / email about Company's services.
        </p>
        <p class="full-width">
          <button type="submit" class="submit-btn" [disabled]="!contactForm.valid">Submit</button>
        </p>
      </form>
    </div>

    <div class="contacts contact-wrapper">

      <ul>
        <li><p>Whether you have a question about your order, need help choosing the perfect outfit, or simply want to share your feedback — our team is here to assist you.</p></li>
        <span class="hightlight-contact-info">
          <h6 class="mb-2"><b>INSIDER MAGAZINES PRIVATE LIMITED</b></h6>
          <li class="address-info"><i class="fa fa-map-marker" aria-hidden="true"></i> Office No 253 PLOT NO 11, 2ND FLOOR, VARDHAMAN MARKET PLAZA PITAMPURA,</li><br>
          <li class="email-info"><i class="fa fa-envelope" aria-hidden="true"></i> magainside2025&#64;gmail.com</li><br>
          <li><i class="fa fa-phone" aria-hidden="true"></i> <span class="highlight-text"> +91 8950479931</span></li>
        </span>
      </ul>
    </div>
  </div>
</div>