<div class="price-range-filter">
  <div class="price-range-slider">
    <div class="slider-container">
      <div class="slider-track">
        <div class="slider-fill" 
             [style.left.%]="((minValue - minPrice) / (maxPrice - minPrice)) * 100" 
             [style.width.%]="((maxValue - minValue) / (maxPrice - minPrice)) * 100"></div>
      </div>
      <input type="range" 
             class="slider-input slider-input-min" 
             [min]="minPrice" 
             [max]="maxPrice" 
             [value]="minValue"
             (input)="onMinChange($event)"
             (change)="onMinChange($event)">
      <input type="range" 
             class="slider-input slider-input-max" 
             [min]="minPrice" 
             [max]="maxPrice" 
             [value]="maxValue"
             (input)="onMaxChange($event)"
             (change)="onMaxChange($event)">
    </div>
    <div class="price-labels">
      <div class="price-label price-label-min" 
           [style.left.%]="((minValue - minPrice) / (maxPrice - minPrice)) * 100">
        <span class="price-value">{{ minValue | currencySymbol }}</span>
      </div>
      <div class="price-label price-label-max" 
           [style.left.%]="((maxValue - minPrice) / (maxPrice - minPrice)) * 100">
        <span class="price-value">{{ maxValue | currencySymbol }}</span>
      </div>
    </div>
  </div>
</div>
