<div class="price-range-filter custom-padding">
  <div class="price-inputs">
    <div class="input-group mb-3">
      <span class="input-group-text">Min</span>
      <input 
        type="number" 
        class="form-control" 
        [value]="minPrice"
        (input)="onMinPriceChange($any($event.target).value)"
        (blur)="onInputBlur()"
        [min]="minValue"
        [max]="maxValue"
        step="1">
    </div>
    
    <div class="input-group mb-3">
      <span class="input-group-text">Max</span>
      <input 
        type="number" 
        class="form-control" 
        [value]="maxPrice"
        (input)="onMaxPriceChange($any($event.target).value)"
        (blur)="onInputBlur()"
        [min]="minValue"
        [max]="maxValue"
        step="1">
    </div>
  </div>

  <div class="price-range-slider-wrapper">
    <div class="dual-range-slider">
      <div class="slider-track"></div>
      <div class="slider-range" [ngStyle]="getSelectedRangeStyle()"></div>
      <input 
        type="range" 
        class="range-input range-input-min"
        [min]="minValue"
        [max]="maxValue"
        [value]="minPrice"
        (input)="onSliderMinChange($event)"
        step="1">
      <input 
        type="range" 
        class="range-input range-input-max"
        [min]="minValue"
        [max]="maxValue"
        [value]="maxPrice"
        (input)="onSliderMaxChange($event)"
        step="1">
    </div>
    <div class="price-range-display">
      <span>{{ minPrice | currencySymbol }} - {{ maxPrice | currencySymbol }}</span>
    </div>
  </div>
</div>
